@charset "UTF-8";

/*  Typical Device Breakpoints
        Celulares: 600px até 767px
        Tablets: 768px até 991pxpx
        Desktop: 992px até 1199px
        Telas grandes: acima de 1200px 
*/

/* CSS Mobile First */
@media screen and (max-width: 767px) {
    body {
        background-image: url("../imagens/back-phone.jpg");
    }

    img#img_phone {display: block;}
}

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 991px) { 
    body {
        background-image: url("../imagens/back-tablet.jpg");
    }

    img#img_tablet {display: block;}
}

/* Desktop */
@media screen and (min-width: 992px) and (max-width: 1199px) { 
    body {
        background-image: url("../imagens/back-pc.jpg");
    }

    img#img_pc {display: block;}
}

/* Telas grandes */
@media screen and (min-width: 1200px) { 
    body {
        background-image: url("../imagens/back-tv.jpg");
    }

    img#img_tv {display: block;}
}

/* Impressão */
@media print {
    * {
        font-family: 'Times New Roman', Times, serif;
    }

    main {
        width: 90vw;
        border: 2px solid black;
    }

    main::after {
        content: "Impressão feita através do site jeanvinicius.com";
        text-decoration: overline;
        font-style: italic;
    }

    main h1 {
        text-shadow: none;
        color: black;
    }

    img#img_print {display: block;}
}