@charset "UTF-8";

/* Mobile First */
@media screen and (max-width: 768px) {
    body {
        position: relative;
    }

    header {
        position: relative;
        height: 120px;
    }
    
    header > h1 {
        position: absolute;
        display: inline-block;
        top: 15px;
        left: 60px;
    }

    span#iconMenu {
        position: absolute;
        display: block;
        color: white;

        padding: 10px;
        font-size: 30px;
        
        top: 25px;
        left: 10px;
    }

    span#iconMenu:hover {
        background-color: rgba(255, 255, 255, 0.137);
        border-radius: 50%;
        cursor: pointer;
    }

    span#iconMenu:active {
        background-color: rgba(255, 255, 255, 0.457);
    }

    div#backgroundMenu {
        position: fixed;
        display: none;
        
        top: 0px;
        left: 0px;
        width: 100vw;
        height: 100vh;

        background-color: rgba(189, 189, 189, 0.6);
        animation: opacidadeBackgroundMenu 0.3s;
    }

    @keyframes opacidadeBackgroundMenu {
        from { opacity: 0%}
        to { opacity: 100%;}
    }

    menu {
        position: fixed;
        display: none;
        overflow: auto;

        top: 0px;
        left: 0px;
        width: 55vw;
        min-width: 152px;
        height: 100vh;

        background-color: var(--cor05);
    }

    @keyframes entradaMenu {
        from { transform: translateX(-100%);}
        to { transform: translateX(0%);}
    }

    @keyframes saidaMenu {
        from { transform: translateX(0%);}
        to { transform: translateX(-100%);}
    }

    menu h1 {
        font-family: var(--font-titulo);
        padding: 10px;
        color: white;
        text-align: left;
    }

    menu > ul li {
        list-style-type: none;
    }
    
    menu > ul a {
        display: block;
        font-weight: bold;
        text-decoration: none;
        text-align: center;
        cursor: default;

        background-color: var(--cor04);
        border-radius: 15px 15px 0px 0px;
        border-top: 1px solid white;
        color: white;

        max-width: 250px;
        margin: 8px auto;
        padding: 15px;
    }

    menu > ul a:hover {
        background-color: var(--cor02);
        cursor: pointer;
    }

    menu > ul a:active {
        color: var(--cor05);
    }

    main {
        width: 90vw;
        margin-bottom: 40px;
    }
}

@media screen and  (min-width: 769px) {
    header {
        background-image: linear-gradient(to bottom, var(--cor04) 25%, var(--cor06));
        border-bottom: 5px solid var(--cor04);
    }

    menu ul {
        font-size: 0px;
    }

    menu > ul li {
        display: inline-block;
    }

    menu > ul a {
        display: block;
        color: white;
        text-decoration: none;

        padding: 10px;
        font-size: 18px;
        margin: 0px;
    }

    menu > ul a:hover {
        background-image: linear-gradient(to top, rgba(255, 255, 255, 0.283), transparent 65%);
        border-bottom: 4px solid rgba(255, 255, 255, 0.29);
    }

    main {
        /* width: 715px; */
        max-width: 750px;
    }
}